html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}

footer {
    text-align: center;
}

#search-bar {
    position: relative;
    margin: 12pt auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 4px 4px #333;
    background: #f3f3f3;
}
#search-bar fieldset {
    margin: 0;
    padding: 8pt;
    border: 0;
}
#search-bar button {
    font-family: Verdana, serif;
    font-size: 20px;
}

