html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Verdana, serif;
}

footer {
    text-align: center;
}

a, a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}

h1 {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    color: forestgreen;
    background: #000;
}
h1 a {
    color: forestgreen !important;
}
#doggo {
    display: block;
    width: auto;
    height: 150px;
    margin: 0 auto;
}

#search-bar, #contribute, #about {
    position: relative;
    margin: 0 auto 12pt auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 4px 4px #333;
    background: #f3f3f3;
}
#search-bar fieldset {
    margin: 0;
    padding: 8pt;
    border: 0;
}
#search-bar input {
    width: 80%;
    font-family: Verdana, serif;
    font-size: 20px;
}
#search-bar button {
    font-family: Verdana, serif;
    font-size: 20px;
    cursor: pointer;
}
#search-bar button img {
    margin: 0 3px 0 0;
    height: 20px;
}
#contribute-link, #about-link {
    margin: 30px auto 5px auto;
    width: 80%;
    max-width: 600px;
    font-size: 17px;
}
#contribute-link a, #about-link a {
    cursor: pointer;
}
#contribute-link a:hover, #contribute-link a:active,
#about-link a:hover, #about-link a:active {
    color: forestgreen !important;
    text-decoration: none;
}
#contribute.hidden,
#about.hidden {
    overflow: hidden;
    height: 0;
    border: 0;
}
#contribute h3 {
    margin: 0;
    padding: 15px 0 0 15px;
}
#contribute form {
    margin: 0;
    padding: 0 15px;
}
#contribute form span {
    display: inline-block;
    width: 40%;
    padding-right: 15px;
    text-align: right;
}
.next-step {
    text-align: center;
}
.next-step button {
    font-family: Verdana, serif;
    font-size: 20px;
    cursor: pointer;
}
#about p {
    padding: 0 15px;
}
